* {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    --webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 11px;
}
::-webkit-scrollbar:horizontal {
    height: 11px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.text-h1 {
    font-size: 20px;
    color: white;
}

.emboh {
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 20px !important;
    hyphens: auto;
    white-space: normal;
    background: none;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.red-bg {
    background: red !important;
    border: none !important;
}

.luweh-emboh {
    margin: 0px;
    font-family: inherit;
    font-weight: inherit;
    color: #fff;
    background: rgba(23, 228, 255, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(23, 228, 255, 0.46);
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    border-radius: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 0;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.luweh-emboh-1 {
    margin: 0px;
    font-family: inherit;
    font-weight: inherit;
    color: #fff;
    background: rgba(255, 0, 0, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(255, 0, 0, 0.46);
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    border-radius: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 0;
    width: 100%;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.luweh-emboh:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}
.luweh-emboh-1:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}


.text-emboh {
    position: relative;
    hyphens: none;
}

.text-emboh:hover {
    color: inherit;
    text-decoration: none;
}

.rounded-border {
 word-break: break;
 width: 320px;
 height: 37px;
 background: linear-gradient(278.47deg, #0BCD65 -5.47%, rgba(11, 205, 101, 0) 142.2%);
 border-radius: 33px;
 display: block;
 /* left:auto; */
}
.rounded-border-1 {
 width: 240px;
 height: 60px;
 background: linear-gradient(278.47deg, #0BCD65 -5.47%, rgba(11, 205, 101, 0) 142.2%);
 border-radius: 33px;
 display: block;
 /* left:auto; */
}
.rounded-border-2 {
 width: 240px;
 height: 37px;
 background: linear-gradient(278.47deg, #0BCD65 -5.47%, rgba(11, 205, 101, 0) 142.2%);
 border-radius: 33px;
 display: block;
 /* left:auto; */
}


.h1-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-top: 8px;
  }
.h2-text {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
font-size: 38px;
margin-bottom: 15px;
}
.h3-text {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
font-size: 32px;
margin-bottom: 15px;
}
.h4-text {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
font-size: 28px;
margin-bottom: 15px;
}
.h5-text {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
font-size: 24px;
margin-bottom: 15px;
}
.h6-text {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
font-size: 18px;
margin-bottom: 15px;
}
.p-text {
font-size: 16px;
font-weight: normal;
color: #292929;
}
.p-text-bold {
font-size: 16px;
font-weight: bold;
color: #292929;
}
.p-text-white {
font-size: 16px;
font-weight: bold;
color: #fff;
}



.text-embohparah {
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    width: 100%;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 900px) {
    .d-smi-none {
        display: none !important;
    }
}